.users__content {
    height: 650px;
    background-color: rgb(237, 237, 237);
}

.users__sheet {
    padding-top: 50px;
}


.users_table {
    margin: 0px auto;
   
    width: 40%;
}

.users_row {
    border: 1px solid #000000;
    border-left: none;
    border-right: none;
    height: 25px;
    border-top: none;
}

.users_row:nth-last-of-type(1) {
    border: 1px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.users_data {
    padding: 16px 8px;
    text-align: center;
}

.users_label {
    padding: 16px 8px;
    text-align: center;
}